<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.3.0.60745 -->
    <meta charset="utf-8">
    <title>Новая страница</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>


<style>.art-content .art-postcontent-0 .layout-item-0 { color: #DBDBDB; background: #333333; padding: 10px;  }
.art-content .art-postcontent-0 .layout-item-1 { color: #D4D4D4; background: #555555; padding: 10px;  }
.art-content .art-postcontent-0 .layout-item-2 { padding: 20px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header">

    <div class="art-shapes">
        
            </div>

<h1 class="art-headline">
    <a href="/">Услуги управления данными</a>
</h1>
<h2 class="art-slogan">Управление БД</h2>





<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="главная-страница.html" class="active">Главная страница</a></li><li><a href="директор.html">Директор</a></li><li><a href="бухгалтер.html">Бухгалтер</a></li><li><a href="контакты.html">Контакты</a></li><li><a href="отчеты.html">Отчеты</a></li><li><a href="покупки.html">Покупки</a></li></ul> 
    </nav>

                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 25%" >
        <p><img width="64" height="64" alt="" src="images/dir-2.png" style="float:left; margin-right:10px; margin-bottom:20px;" class=""></p><h4>Директор</h4><p><span style="color: rgb(255, 255, 255);">Функции директора</span></p><p style="text-align:center;"><a href="#" class="art-button">Перейти</a></p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <p><img width="64" height="64" alt="" src="images/port.png" style="float:left; margin-right:10px; margin-bottom:20px;" class=""></p><h4>информация</h4><p><span style="color: rgb(255, 255, 255);">Сведения о фирме</span></p><p style="text-align:center;"><a href="#" class="art-button">Перейти</a></p>
    </div><div class="art-layout-cell layout-item-0" style="width: 25%" >
        <p><img width="64" height="64" alt="" src="images/chart.png" style="float:left;margin-right:10px; margin-bottom:20px;" class=""></p><h4>Бухгалтер</h4><p><span style="color: rgb(255, 255, 255);">Функции бухгалтера</span></p><p style="text-align:center;"><a href="#" class="art-button">Перейти</a></p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <p><img width="64" height="64" alt="" src="images/time-2.png" style="float:left;margin-right:10px; margin-bottom:20px;" class=""></p><h4>Другое</h4><p><span style="color: rgb(255, 255, 255);">В работе&nbsp;</span></p><p style="text-align:center;"><a href="#" class="art-button">Перейти</a></p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-2" style="width: 25%" >
        <h1>Последние новости</h1><h3>04/04/2020</h3><p><b>Проактивная поддержка</b>: услуга мониторинга работоспособности систем со включенными работами по решению инцидентов.</p><hr style="border:none;background-color:#dedede;color:#dedede;height:1px;"><h3>03/04/2020</h3><p>Бесперебойная, эффективная и стабильная работа критичных для бизнеса систем.</p><hr style="border:none;background-color:#dedede;color:#dedede;height:1px;"><h3>02/21/2020</h3><p>Обслуживание в соответствии с заранее заданными показателями качества.</p>
    </div><div class="art-layout-cell layout-item-2" style="width: 50%" >
        <h1>Для предпринимателей</h1><p><b>Аудит баз данных</b>: диагностика и выявление «узких мест», причин 
        сбоев и аварий в работе баз данных, а также разработка рекомендаций по 
        устранению данных сбоев в функционировании баз данных и оптимизации их 
        производительности.<br>
        <br>
         <b>Миграция</b>: перенос систем с СУБД других вендоров на PostgreSQL.</p><p><img width="449" height="218" alt="" src="images/bizkit_img-2-2.jpg" class=""></p><p><b>Аутсорсинг администрирования баз данных</b>: передача Заказчиком всех или части функций администрирования баз данных специалистам компании РДТЕХ.&nbsp;<br>
        <br>
         <b>Расширенная техническая поддержка</b>: <a href="https://www.rdtex.ru/services/tekhnologicheskiy-konsalting/rashirennaya-tehnicheskaya-podderzhka/">комплексная услуга сопровождения СУБД</a>, включающая в себя аварийно-восстановительный, профилактический и экспертный виды сервиса.</p>
    </div><div class="art-layout-cell layout-item-2" style="width: 25%" >
        <h1>Связанные услуги</h1><p></p><p class="MsoNormal"><span style="font-weight: bold;">Технологический консалтинг&nbsp;</span><br>Расширенная техническая поддержка СУБД, операционных систем
        и бизнес-приложений<br>Технологический консалтинг<br><span style="font-weight: bold;">&nbsp;Аутсорсинг</span> администрирования баз данных, операционных систем
        и бизнес-приложений<br>Технологический консалтинг<br>&nbsp;Проактивная поддержка информационных систем.<br></p>
        
        
        
        
        
        
        
        
        
        <p></p>
    </div>
    </div>
</div>
</div>


</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 24%">
        <p style="font: 18px 'Trebuchet MS'; color: #808080;">Информация</p><br><ul><li><a href="#">Добро пожаловать</a></li><li><a href="#">Сведения о фирме</a></li><li><a href="#">Сфера деятельности</a></li><li><a href="#">Люди</a></li><li><a href="#">Управление</a></li></ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 24%">
        <p style="font: 18px 'Trebuchet MS'; color: #808080;">Расположение</p><br><ul><li><a href="#">Карта сайта</a></li><li><a href="#">Адреса</a></li><li><a href="#">Контакты</a></li></ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 22%">
        <p style="font: 18px 'Trebuchet MS'; color: #808080;">Компания</p><br><ul><li><a href="#">О нас</a></li><li><a href="#">Условия заключения договоров</a></li></ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 30%">
        <p style="text-align: right;"><a href="#"><img width="32" height="32" alt="" src="images/rss_32-2.png" class=""></a><a href="#"><img width="32" height="32" alt="" src="images/twitter_32-2.png" class=""></a><a href="#"><img width="32" height="32" alt="" src="images/facebook_32-2.png" class=""></a></p><br><p style="text-align: right;">Системы управления офисом © 2019-2020. Все Права Защищены.</p>
    </div>
    </div>
</div>

    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
    </p>
  </div>
</footer>

</div>


</body></html>