<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
    <meta charset="utf-8">
    <title>Страница директора</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>


</head>
<body>
<div id="art-main">
<header class="art-header">

    <div class="art-shapes">
        
            </div>

<h1 class="art-headline">
    <a href="/">Услуги управления данными</a>
</h1>
<h2 class="art-slogan">Управление БД</h2>





<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="главная-страница.html" class="">Главная страница</a></li><li><a href="директор.html" class="active">Директор</a></li><li><a href="бухгалтер.html">Бухгалтер</a></li><li><a href="контакты.html">Контакты</a></li><li><a href="отчеты.html">Отчеты</a></li><li><a href="покупки.html">Покупки</a></li></ul> 
    </nav>

                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <h2 class="art-postheader">Страница директора</h2>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><p><br></p></div>


</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 24%">
        <p style="font: 18px 'Trebuchet MS'; color: #808080;">Информация</p><br><ul><li><a href="#">Добро пожаловать</a></li><li><a href="#">Сведения о фирме</a></li><li><a href="#">Сфера деятельности</a></li><li><a href="#">Люди</a></li><li><a href="#">Управление</a></li></ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 24%">
        <p style="font: 18px 'Trebuchet MS'; color: #808080;">Расположение</p><br><ul><li><a href="#">Карта сайта</a></li><li><a href="#">Адреса</a></li><li><a href="#">Контакты</a></li></ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 22%">
        <p style="font: 18px 'Trebuchet MS'; color: #808080;">Компания</p><br><ul><li><a href="#">О нас</a></li><li><a href="#">Условия заключения договоров</a></li></ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 30%">
        <p style="text-align: right;"><a href="#"><img width="32" height="32" alt="" src="images/rss_32-2.png" class=""></a><a href="#"><img width="32" height="32" alt="" src="images/twitter_32-2.png" class=""></a><a href="#"><img width="32" height="32" alt="" src="images/facebook_32-2.png" class=""></a></p><br><p style="text-align: right;">Системы управления офисом © 2019-2020. Все Права Защищены.</p>
    </div>
    </div>
</div>

    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="#" target="_blank">Web Template</a> created.</span>
    </p>
  </div>
</footer>

</div>


</body></html>