<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
    <meta charset="utf-8">
    <title>Контакты</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>


<style>.art-content .art-postcontent-0 .layout-item-0 { padding-top: 0px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header">

    <div class="art-shapes">
        
            </div>

<h1 class="art-headline">
    <a href="/">Услуги управления данными</a>
</h1>
<h2 class="art-slogan">Управление БД</h2>





<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="главная-страница.html" class="">Главная страница</a></li><li><a href="директор.html" class="">Директор</a></li><li><a href="бухгалтер.html" class="">Бухгалтер</a></li><li><a href="контакты.html" class="active">Контакты</a></li><li><a href="отчеты.html">Отчеты</a></li><li><a href="покупки.html">Покупки</a></li></ul> 
    </nav>

                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <h2 class="art-postheader">Контакты</h2>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <b><u>На метро:</u></b><br>
                                        м. Нагатинская. Выход из последнего вагона из центра, к "Центру Международной
                                        почты". Выйти из стеклянных дверей метро, повернуть направо и, пройдя по подземному
                                        переходу до конца, снова повернуть направо. Подняться на улицу и, перейдя трамвайные
                                        пути, пройти направо до многоэтажного здания с черным забором, повернуть и пройти
                                        через шлагбаум рядом с Банком Москвы. После шлагбаума пройти прямо и направо по
                                        диагонали через крупную автостоянку мимо предприятия "Офисная мебель" к двухэтажному
                                        зданию с желтым флагом РДТЕХ возле подъезда (в этом же здании, правее, находится
                                        "Рабочая столовая").
                                        <br><br>
                                        <b><u>На автомобиле:</u></b><br>
                                        Движение из центра по Б.Тульской (900 м), далее по Варшавскому шоссе (2,4 км). Не
                                        доезжая до тоннеля, ведущего к Каширскому шоссе, съехать направо и выполнить
                                        разворот в сторону центра. Доехав до перекрестка с улицей Нагатинская, повернуть
                                        направо. Далее развернуться в любом удобном месте и вернуться в начало улицы
                                        Нагатинская к дому №1. Повернуть на территорию предприятия "Хант Холдинг",
                                        проехать через шлагбаум.</p><h3>Контакты<table class="contacts-table"><tbody><tr itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address"><td class="name"><span class="big">Адрес:</span></td>
                                            <td><span itemprop="postal-code">117105</span>, <span itemprop="locality">Москва</span>, <span itemprop="street-address">ул.Нагатинская,<br> д.1, стр.40 или д.1. стр.1</span>
                                            </td>
                                        </tr>
        
                                        <tr>
                                            <td class="name"> Телефон:</td>
                                            <td><span itemprop="tel" class="phone call_phone_1">+7 (495) 995-09-99</span>
                                            </td>
                                        </tr>
        
                                        <tr>
                                            <td class="name"> Факс:</td>
                                            <td><span class="phone call_phone_1">+7 (495) 995-09-99</span> <span class="add">доб. 3003</span></td>
                                        </tr>
        
                                        <tr>
                                            <td class="name"> E-mail:</td>
                                            <td><a href="mailto:marketing@rdtex.ru" >marketing@office.ru</a></td></tr></tbody></table></h3><p><a href="#"></a>
    </div>
    </div>
</div>
</div>


</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 24%">
        <p style="font: 18px 'Trebuchet MS'; color: #808080;">Информация</p><br><ul><li><a href="#">Добро пожаловать</a></li><li><a href="#">Сведения о фирме</a></li><li><a href="#">Сфера деятельности</a></li><li><a href="#">Люди</a></li><li><a href="#">Управление</a></li></ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 24%">
        <p style="font: 18px 'Trebuchet MS'; color: #808080;">Расположение</p><br><ul><li><a href="#">Карта сайта</a></li><li><a href="#">Адреса</a></li><li><a href="#">Контакты</a></li></ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 22%">
        <p style="font: 18px 'Trebuchet MS'; color: #808080;">Компания</p><br><ul><li><a href="#">О нас</a></li><li><a href="#">Условия заключения договоров</a></li></ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 30%">
        <p style="text-align: right;"><a href="#"><img width="32" height="32" alt="" src="images/rss_32-2.png" class=""></a><a href="#"><img width="32" height="32" alt="" src="images/twitter_32-2.png" class=""></a><a href="#"><img width="32" height="32" alt="" src="images/facebook_32-2.png" class=""></a></p><br><p style="text-align: right;">Системы управления офисом © 2019-2020. Все Права Защищены.</p>
    </div>
    </div>
</div>

    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="#" target="_blank">Web Template</a> created.</span>
    </p>
  </div>
</footer>

</div>


</body></html>